@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
  list-style: none;
}

:root {
  --DarkBlue: #2b3945;
  --DarkBlueLight : #454e57;
  --VeryDarkBlue: #202c37;
  --VeryDarkBlue: #111517;
  --DarkGray: #cacaca;
  --VeryLightGray: #fafafa;
  --White: #ffffff;
  --box-shadow: 0 0 8px rgba(0, 0, 0, 0.363);
  --border-radius: 4px;
  font-size: 14px;
}
h1,
h2,
h3,
h4 {
  /* color: var(--DarkBlue); */
  color: rgb(31, 31, 31);
  font-weight: 800;
}
p {
  font-size: 1em;
  color: var(--DarkBlue);
}
p.dark-mode {
  color: var(--DarkGray);
}
.heading.dark-mode{
  color: var(--white);
}
.flex {
  display: flex;
}
.header {
  padding: 2rem;
  justify-content: space-between;
  align-items: center;
  box-shadow: var(--box-shadow);
  background-color: var(--White);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}
.mode {
  background-color: yellow;
  gap: 0.5rem;
  cursor: pointer;
}

.light-mode {
  display: none;
}

.error {
  width: fit-content;
  background-color: rgba(255, 0, 0, 0.747);
  border-radius: 5px;
  color: var(--White);
  position: fixed;
  left: 0;
  right: 0;
  top: 9rem;
  margin: auto;
  padding: 1rem 2rem;
  box-shadow: var(--box-shadow);
}

.container {
  padding: 2rem 1rem;
  margin-top: 5rem;
  position: relative;
  background-color: rgba(238, 238, 238, 0.267);
}
.container.dark-mode, .country-details.dark-mode {
  background-color: var(--DarkBlue);
  color: var(--DarkGray);
}

.select {
  margin-top: 1rem;
  flex-direction: column;
}

.search {
  height: fit-content;
  position: relative;
}

.search input {
  width: 100%;
  padding: 1rem 1rem 1rem 4.5rem;
  box-shadow: var(--box-shadow);
  border: none;
  border-radius: var(--border-radius);
}

.fa-magnifying-glass {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 1.5rem;
  margin: auto;
  color: var(--DarkGray);
}

.select-region {
  width: 60%;
  margin-top: 3rem;
  font-size: 0.8em;
  font-weight: 600;
  position: relative;
}

.filter-by-region {
  display: flex;
  width: 100%;
  padding: 1rem 1.5rem;
  box-shadow: var(--box-shadow);
  position: relative;
  border-radius: var(--border-radius);
  background-color: var(--White);
}

.filter-by-region .fa-angle-down {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 1.5rem;
  margin: auto;
  color: var(--DarkGray);
}

.filter-options {
  box-shadow: var(--box-shadow);
  padding: 1rem 0rem;
  margin-top: 0.3rem;
  position: absolute;
  width: 100%;
  background-color: var(--White);
  border-radius: var(--border-radius);
  display: none;
}

.filter-options.active {
  display: block;
}

.filter-options ul li {
  list-style: none;
  padding: 7px 1.5rem;
}

.filter-options ul li:hover {
  background: var(--DarkGray);
  color: var(--White);
}

.countries {
  width: 100%;
  margin-top: 3rem;
  flex-direction: column;
  gap: 3rem;
}

.country {
  width: 100%;
  max-width: 250px;
  margin: auto;
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
}
.country.dark-mode, .search-input.dark-mode, .filter-by-region.dark-mode, .filter-options.dark-mode,.header.dark-mode{
  background-color: var(--DarkBlueLight);
}
.country .flag {
  overflow: hidden;
}

.country .flag img {
  width: 100%;
}

.country .details {
  padding: 1.5rem 1.5rem 3rem;
  flex-direction: column;
  gap: 0.5rem;
}

.country h3 {
  margin-bottom: 0.5rem;
}

.country .details span {
  font-weight: 800;
}
.country .details span.dark-mode {
  color:var(--White) ;
}
.country-details {
  position: absolute;
  height: fit-content;
  inset: 0 0;
  background-color: #f0efef;
  padding: 5rem 3rem;
  flex-direction: column;
  gap: 2rem;
  display: none;
}

.country-details button {
  background-color: var(--White);
  border: none;
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  padding: 0.5rem 1rem;
}

.country-details .flag img {
  height: fit-content;
  max-width: 400px;
  display: block;
  margin: auto;
}

.country-details .flag button {
  width: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 3rem;
}

.country-details .flag img {
  width: 100%;
  height: 15rem;
}

.first-half h2 {
  margin-bottom: 1.5rem;
}

.full-details .container {
  flex-direction: column;
  gap: 2rem;
  background-color: transparent;
  padding: 0;
}

.full-details .inner-container {
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 2rem;
}

.full-details .container ul li {
  padding: 0.3rem 0rem;
  font-weight: 800;
}

.full-details ul li span {
  font-weight: 400;
}

.country-borders h3 {
  margin-bottom: 1rem;
}

.border-countries {
  align-items: center;
  row-gap: 1rem;
  flex-wrap: wrap;
}

.border-countries button {
  margin-right: 1rem;
}

.hide {
  display: none;
}

.show {
  display: flex;
}

@media only screen and (min-width: 768px) {
  .select {
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
  }

  .search {
    flex-basis: 50%;
    width: 100%;
  }

  .select-region {
    margin-top: 0;
    flex-basis: 30%;
    width: 100%;
  }

  .countries {
    display: grid;
    grid-template-columns: auto auto;
  }

  .country-details {
    flex-direction: row;
    height: 100vh;
  }

  .show {
    display: flex;
  }

  .hide {
    display: none;
  }

  .flag {
    flex-basis: 50%;
  }

  .full-details {
    flex-direction: row;
  }

  .full-details .container .inner-container {
    flex-direction: row;
    gap: 3rem;
  }
}

@media only screen and (min-width: 992px) {
  :root {
    font-size: 17px;
  }

  .countries {
    grid-template-columns: auto auto auto;
  }
}

@media only screen and (min-width: 1280px) {
  .countries {
    grid-template-columns: auto auto auto auto;
  }
}
